<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="logo-header-image"></div>
      <mat-card-title>Marks App</mat-card-title>
      <mat-card-subtitle
        >welcome back, please login to the app</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            name="email"
            type="email"
            [(ngModel)]="email"
            required
          />
          <mat-error>
            <span
              *ngIf="
                !loginForm.get('email')?.valid &&
                loginForm.get('email')?.touched
              "
              >Please enter Email</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            type="password"
            name="password"
            minlength="6"
            [(ngModel)]="password"
            required
          />
          <mat-error>
            <span
              *ngIf="
                !loginForm.get('password')?.valid &&
                loginForm.get('password')?.touched
              "
              >Please enter Password - 6 minimum digits</span
            >
          </mat-error>
        </mat-form-field>
        <div class="error-message" *ngIf="error">{{ error }}</div>
        <button
          mat-raised-button
          [disabled]="!loginForm.valid"
          type="submit"
          class="login-button"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
